<!DOCTYPE html>
<html lang="en">
  <head>
    <%= favicon_link_tag %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="OBSIopgQBXpEF4rYZDB8TxO54CVKbJIDbHGP7ApxXPU" />

    <!-- CSS -->
    <%= render "layouts/critical_css"%>

    <title><%= content_for?(:title) ? yield(:title) : "Slawomir Cieslak - Junior Ruby on Rails Developer" %></title>
    
  </head>

  <body>

    <%= yield %>

    <!-- JavaScript -->
    <%= render "layouts/javascript" %>
  </body>
</html>
